
<div class="overlay bgimg">
        <app-navbar></app-navbar>
        <div class="inner cover  pt">
                <div class="row">
            
                        <div class="col-md-5 col-md-offset-7">
                                <div class="first"><h1>Welcome to</h1></div><br><h2 class="top"><div>The Udawala Elephant Transit home</div></h2><br>
                            <p>Elephants are the gentle giants we all know andngg i love - but baby elephants are even better. It's time to show some major appreciation to the fuzzy-headed little Dumbo's who will eventually become the mammoths of tomorrow.</p>
                        </div>
                </div>
                <div class="row">
                        <div class="col-md-5 col-md-offset-7"><p>Elephant babies, or calves, are usually born at about 250 pounds and 3 feet tall. They're pretty clumsy for about 3 months after they're born, and have hardly any control over their trunks, which they often trip over. As if that doesn't make them enough of a handful, calves usually drink around 3 whole gallons of milk every day, a routine they sometimes keep for up to 10 years. That's a tall order for a mom of any species! While male elephants will grow to leave the herd after 12 years or so, females stay with their families for life - good news for all of the elephant parents who can't bear the thought of their daughters leaving the nest.</p>
                        </div>
                </div>
        </div>
</div>
      
