.bottom{
    margin-bottom: 0px;
}

.container-fluid {
    background-color: #FBFAD3;
}

.text{
    width:50px!important;
    height:100px!important;
    background-color:rgba(0, 0, 0, 0.5) !important;
}

